bin/
target/
.classpath
.project
.settings/
*.orig
otr.properties

# Gradle
/build
/.gradle

# Netbeans
/nb-configuration.xml
/nbproject

# IntelliJ
/.idea
/*.iml

# Android build products
gen/
build.xml
local.properties
proguard-project.txt

# afl fuzzer and JQF
/fuzz-results
/jqf.log
